<div class="container-fluid bg-3  text-center hid" id="testimonial">    
  <h3 class="margin">{{testi_tit}}</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p class="white">[1] Brian M., CEO & Founder of <a href="{{testi_link_a}}">{{testi_link_text_a}}, Inc.</a>, LHNav.Net linked-to logo PNG image here said:</p>
      <p class="green">- (placeholder testimony) "{{testi_text_a}}"</p>
      <a href="{{testi_link_a}}"><img src="{{testi_image_a}}" class="img-responsive margin" style="width:100%" alt="Image"></a>
    </div>
    <div class="col-sm-4"> 
      <p class="white">[2] James L., <a href="{{testi_link_b}}">CEO & Founder of NoLongerLonely, LLC</a>. said:</p>
      <p class="green">- (placeholder testimony) "{{testi_text_b}}"</p>
      <a href="testi_link_b"><img src="{{testi_image_b}}" class="img-responsive margin" style="width:100%" alt="Image"></a>
    </div>
    <div class="col-sm-4"> 
      <p class="white">[3] Serop K., fellow classmate, occasional client for homework assistance, said:</p>
      <p class="green">- (placeholder testimony) "{{testi_text_c}}"</p>
      
    </div>
  </div>
</div>